/* Eric Meyer's Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Global Typography */
*, :before, :after {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: 100%;
}
body {
	font-size: 14px;
	color:#313131;
	font-family: 'Lato', sans-serif;
}
/* Font Face */

/* Global Headings */
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
h1 {
}
h2 {
}
h3 {
}
h4 {
}
h5 {
}
h6 {
}

/* General Text Formatting */
strong,span,em,label{
	display:inline-block;
}
blockquote, cite, q, var, dfn {
	font-style: italic;
}
small {
	font-size: 85.71429%;
	line-height: 1.75;
}
img {
	max-width: 100%;
	height: auto;
}
select {
	font-size: 16px;
	color: #535252;
}
input[type=text]{
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input:focus,select:focus{
	outline:0;
}
select  option{
	padding:5px !important;
}
p{
	line-height:1.3;
}
/* Global Link style */
a {
	color: #000;
	text-decoration: none;
	outline: none;
}
a:hover, a:focus {
	color: #000;
}
/* Global Button Styles */

/* Global Sprite Icons */
[class^="icon-"], [class*="icon-"] {
	background-image: url('../images/sprit.png');
	background-position: 0 0;
	background-repeat: no-repeat;
	display: inline-block;
	height: 26px;
	vertical-align:top;
	width: 21px;
	text-indent:100%;
	overflow:hidden;
	white-space:nowrap;
}
/* Clearfix class*/
.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
/* Global style */
.container {
	width: 100%;
	margin: 0 auto;
	
}
.d-flex{
	display:flex;
	-moz-display:flex;
}

/*custom checkbox */
.check-wrapper {
	padding: 0 16px 0 23px;
	margin-bottom: 18px;
	position: relative;
}
.check-wrapper .checkbox-block {
	position: absolute;
	left: 23px;
	margin-right: 10px;
}
.checkbox-container {
	display: block;
	position: relative;
	padding-left: 33px;
	font-size: 15px;
	color: #313131;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}
.checkbox-block {
	position: absolute;
	top: 0;
	left: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
}

/* Hide the browser's default checkbox */
.checkbox-block input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 17px;
	width: 17px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
}

/* When the checkbox is checked, add a blue background */
.checkbox-block input:checked ~
.checkmark {
	background-color: #008EE1;
	border: 1px solid #008EE1;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.checkbox-block input:checked ~
.checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.checkbox-block .checkmark:after {
	left: 5px;
	top: 3px;
	width: 5px;
	height: 8px;
	border: solid white;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
