/*media query*/
@media all and (min-width: 1024px) {
	.insert-program {
		top: 50%;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
	}
}
@media all and (max-width: 991px) {
	.header-part {
		padding: 0 20px;
	}
}
@media all and (max-width: 767px) {
	.insert-program {
		max-height: 80vh;
		overflow: auto;
		top: 6vh;
	}
	.feedback-wrapper {
		flex-flow: column wrap;
	}
	.feedback-wrapper .checkbox-container {
		margin-bottom: 15px;
	}
	.btn {
		text-align: center;
	}
	.feedback {
		display: inline-block;
		padding: 0 0px;
		width: calc(100% - 41px);
	}
	.check-wrapper {
		margin-bottom: 20px;
	}
	.input-text {
		width: 150px;
	}
	.go-dropthought {
		width: 138px;
		padding: 10px 0px 10px 5px;
	}
	.icon-dropthought {
		margin-right: 5px;
	}
	.active-program {
		position: static;
	}
	/*pop up	*/
	.insert-content {
		padding: 20px;
	}
	.sign-head {
		padding: 25px;
	}
}
@media all and (max-width: 480px) {
	.feedback strong {
		font-size: 14px;
	}
}
@media all and (max-height: 480px) {
	.custom-scroll {
		height: 130px;
	}
}
@media all and (min-height: 481px) and (max-height: 640px) {
	.custom-scroll {
		height: 250px;
	}
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
	.feedback-wrapper .btn {
		text-align: left;
	}
}
@media all and (min-width: 510px) and (max-width: 767px) {
	.feedback-wrapper .checkbox-container {
		width: 73%;
	}
	.feedback-wrapper {
		flex-flow: row wrap;
		padding: 13px 10px 10px;
	}
	.check-wrapper .checkbox-block {
		left: 12px;
	}
	.check-wrapper{
	    padding: 0 10px 0 23px;
	   }
	.checkbox-container {
		padding-left: 20px;
	}

}
@media all and (max-width: 360px) {
	.insert .checkbox-container {
		padding-left: 20px;
		width: 140px;
	}
	.check-wrapper {
		padding: 0 0 0 23px;
	}
	.dt-program {
		padding: 0;
	}
	.check-wrapper .checkbox-block {
		left: 12px;
	}
	.feedback-wrapper {
		padding: 13px 16px 10px 10px;
	}
}

