.assigment-wrapper {
	width: 100%;
	margin: 0 auto;
	padding: 24px 0;
}
.header-part {
	justify-content: space-between;
	margin-bottom: 5px;
	}
.input-text {
	width: 178px;
	border: 0.5px solid #C7CDD0;
	padding: 8px 10px;
	font-size: 12px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}
.icon-dropthought {
	background-position: -55px -3px;
	width: 11px;
	height: 11px;
	margin-right: 8px;
	vertical-align: middle;
}
.go-dropthought {
	width: 138px;
	padding: 10px 0;
}
.go-to {
	font-size: 13px;
	vertical-align: middle;
	color: #008EE1;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}
.assignment-block {
	background: #ececec;
	border: 1px solid #C7CDD0;
	padding: 28px 18px;
	width: 100%;
	text-align:left;
}
.feedback-block:nth-child(odd) {
	margin-bottom: 35px;
}
.feedback-section {
	border-top: 1px solid #B2B2B2;
	border-bottom: 1px solid #B2B2B2;
	border-right: 1px solid #B2B2B2;
}
.feedback-block h3 {
	margin-bottom: 12px;
	font-size: 15px;
	color: #313131;
	font-weight: 700;
}
h2 {
	margin-bottom: 18px;
	font-size: 16px;
	font-weight: 700;
}
.none {
	margin-bottom: 40px;
	font-size: 14px;
}
.feedback-wrapper {
	border-left: 3px solid #00AC18;
	border-bottom: 1px solid #B2B2B2;
	padding: 13px 16px 10px 21px;
	background: #fff;
	position: relative;
	justify-content: space-between;
}
.feedback-wrapper:last-child {
	border-bottom: none;
}
.feedback-wrapper .checkbox-container {
	padding-left: 25px;
	max-width: 498px;
	width: 100%;
}
.feedback {
	display: inline-block;
	padding: 0 2px;
}
.feedback strong {
	margin-bottom: 11px;
	font-size: 15px;
	color: #313131;
	font-weight: 700;
}
.status p {
	font-size: 12px;
	color: #313131;
	font-weight: 400;
}
.dt-program p:nth-child(odd) {
	margin-bottom: 8px;
}
.status-color {
	color: #acacac;
}
.icon-feedback {
	background-position: 0 0;
	width: 21px;
	height: 26px;
	margin: -3px 5px 0 0;
}
.btn {
	padding: 0;
}
.insert-btn {
	background: #008EE1;
	border-radius: 3px;
	padding: 8px 12px;
	font-size: 13px;
	color: #fff;
}
.insert-btn:hover, .insert-btn:focus {
	background: #0083D0;
	color: #fff;
}
.btn-inactive, .btn-inactive:hover, .btn-inactive:focus {
	background-color: #afafaf;
	color: #fff;
}
.dt-program {
	padding: 20px 16px 21px 23px;
}
.insert {
	justify-content: space-between;
}
.feedback-wrapper .btn {
	padding: 17px 0;
}

/*select*/
.select-wrapper {
	margin: 22px 0px 0 28px;
	position: relative;
	text-align: left;
	
}
.select-wrapper label {
	margin-bottom: 10px;
	font-weight: 400;
}
.cancel {
	color: #008EE1;
	margin-right: 18px;
}
.cancel:hover, .go-to:hover {
	color: #0079BF;
}
.icon-select-arrow {
	background-position: -24px -4px;
	width: 11px;
	height: 7px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	right: 9px;
}
.active-program {
	position: absolute;
	bottom: 12px;
	right: 25px;
}
.select-style {
	border-radius: 3px;
	border: 1px solid #D7DAE2;
	max-width: 1098px;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.select-style select {
	padding: 10px 9px;
	width: 100%;
	border: none;
	box-shadow: none;
	background: transparent;
	background-image: none;
	-webkit-appearance: none;
}

.select-style select:focus {
	outline: none;
}

/*pop up*/
.insert-program {
	max-width: 746px;
	margin: 0 auto;
	width: 90%;
	position: absolute;
	left: 0;
	top: 50px;
	right: 0;
	display: none;
	background: #fff;
	border-radius: 6px;
	box-shadow: 0 2px 10px rgba(0,0,0,0.15);
}
.sign-head {
	background: #F4F4F4;
	border-radius: 6px;
	padding: 29px 22px 29px 39px;
}
.sign-head .cancel {
	font-size: 17px;
	margin-left: 20px;
}
.insert-content h3 {
	margin-bottom: 22px;
}
.footer {
	padding: 20px;
}
.cancel:hover {
	color: #008EE1;
}
.sign-head .insert-btn {
	padding: 9px 23px;
	font-size: 17px;
}
.insert-content {
	padding: 32px 36px 32px;
}
.insert-content .feedback-wrapper {
	padding: 12px 5px 10px 21px;
}
.insert-program .d-flex {
	width: 100%;
	justify-content: space-between;
	align-items: center;
}
.insert-content .feedback-wrapper {
	border: 0;
	padding-left: 0;
}
.insert-content {
	border-bottom: 1px solid #E2E0E0;
}
.insert-program .insert-content:last-child {
	border: none;
	text-align: left;
}
.insert-content .select-wrapper {
	margin: 0;
}
.sign-head h3 {
	font-size: 17px;
	color: #4D4F5C;
	font-weight: 700;
}
.icon-insert-arrow {
	background-position: -38px -4px;
	width: 13px;
	height: 8px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	right: 18px;
}
/*popup wrap*/
.popup-wrap {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(255,255,255,0.85);
	display: none;
	/*overflow: auto;*/
}
.pop-show {
	display: block;
	margin-top:150px;
}
.fixed {
	position: fixed;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 0;
	height: 100%;
}
.icon-close {
	background-position: -71px -2px;
	width: 15px;
	height: 15px;
	vertical-align: middle;
}
.custom-scroll {
	overflow-y: auto;
	height: 292px;
}

/*custom scrollbar*/
.mCustomScrollbar {
	-ms-touch-action: pinch-zoom;
	touch-action: pinch-zoom; /* direct pointer events to js */
}
.mCustomScrollBox {
	position: relative;
	overflow: hidden;
	height: 100%;
	max-width: 100%;
	outline: none;
	direction: ltr;
}
.mCSB_container {
	overflow: hidden;
	width: auto;
	height: auto;
}
.mCSB_inside > .mCSB_container {
	margin-right: 30px;
}
.mCSB_scrollTools .mCSB_draggerContainer {
	position: absolute;
	top: 10px;
	left: 0;
	bottom: 10px;
	right: 0px;
	height: auto;
}
.mCSB_scrollTools .mCSB_dragger {
	cursor: pointer;
	width: 100%;
	height: 30px;
	z-index: 1;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	position: relative;
	/*width: 4px;*/
	height: 100%;
	margin: 0 auto;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	text-align: center;
}
.mCSB_scrollTools .mCSB_draggerRail {
	width: 6px;
	height: 100%;
	margin: 0 auto;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
}
.mCSB_scrollTools {
	position: absolute;
	width: 6px;
	height: auto;
	left: auto;
	top: 0;
	right: 0;
	bottom: 0;
}
.mCSB_scrollTools {
	-webkit-transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
	-moz-transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
	-o-transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
	transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
}
.mCSB_scrollTools {
	filter: "alpha(opacity=75)";
	-ms-filter: "alpha(opacity=75)";
}
.mCustomScrollBox:hover > .mCSB_scrollTools {
	opacity: 1;
	width: 6px;
	filter: "alpha(opacity=100)";
	-ms-filter: "alpha(opacity=100)";
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	background-color: #707070;
	width: 6px;
	border-radius: 10px;
	filter: "alpha(opacity=75)";
	-ms-filter: "alpha(opacity=75)";
}
.mCSB_scrollTools .mCSB_draggerRail {
	background-color: #fff;
	filter: "alpha(opacity=40)";
	-ms-filter: "alpha(opacity=40)";
}
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
	background-color: #707070;
	filter: "alpha(opacity=90)";
	-ms-filter: "alpha(opacity=90)";
}
