<template>
   <div id="wrapper">
      <!--Content Area Start-->
      <div class="content">
         <div class="container">
            <div class="assigment-wrapper">
               <div class="header-part d-flex">
                  <form>
                     <input type="text" class="input-text" placeholder="Search for Assignment" style="display:none">
                  </form>
                  <div class="go-dropthought">
                     <em class="icon-dropthought">dropthought</em><a href="https://demo.dropthought.com" class="go-to" target="_blank">Go to dropthought</a>
                  </div>
               </div>
               <div class="assignment-block">
                  <div class="feedback-block" >
                     <div class="check-wrapper d-flex insert" >
                        <div class="checkbox-container">
                           <strong>Empty Assignments</strong>
                        </div>
                        <label class="checkbox-block">
                        <input type="checkbox" id="common_checkbox" @click="commonCheckbox()">
                        <span class="checkmark">&nbsp;</span> </label>
                        <div class="btn" id="clickonme"  style="display:none">
                           <button class="insert-btn btn-pop btn-login" id="common_insert_program" >Insert program</button>
                        </div>
                     </div>
                     <h1 id="no_content" style="margin-left:50px" ref="mychildcomponent"></h1>
                     <br/><br/>
                     <input type="number" value=1 id="loadingnumber" style="display:none"/>
                     <div  v-for ="(data,index) of assignment">
                        <div class="feedback-section" :id="'firstsection' +index" data-assignmentdiv>
                           <div class="feedback-wrapper d-flex"  :id="'emptyassignment_container' + index" ref="removeelement" >
                              <div class="checkbox-container" >
                                 <em class="icon-feedback">feedback icon</em>
                                 <div class="feedback" >
                                    <strong  :id="'id_' + index" ref="refId" style="display:none" :data-elmid='data.id'>{{data.id}}</strong> 
                                    <strong :id="'title_' + index" class="emptyassignment_title" ref="refTitle" >{{data.name}}</strong>
                                    <div class="status">
                                       <p>
                                          <!--span class="status-color">Status:</span-->
                                          <span :id="'status_' + index" class="emptyassignment_status" ref="refStatus" style="display:none"></span>
                                          <span :id="'pipeone_' + index" style="display:none">&nbsp;&nbsp; | &nbsp;&nbsp;</span>
                                          <span :id="'date_' + index" class="emptyassignment_date" ref="refDate"  style="display:none">{{data.date}}</span>
                                          <span :id="'pipetwo_' + index" style="display:none">&nbsp;&nbsp; | &nbsp;&nbsp; </span>
                                          <span class="emptyassignment_score" :id="'score_' + index" ref="refScore" style="display:none">{{data.points_possible}} points</span>
                                       </p>
                                    </div>
                                 </div>
                                 <div class="select-wrapper" :id="'element' + index" style="display:none" ref="refdropdown" >
                                    <label ref="referencedElement">Choose from active DT program</label>
                                    <div class="select-style" ref="referencedElement" >
                                       <select :id="'feedback_' + index" ref="referencedElement" v-model="selected"  @change="surveyToken_Generation()" >
                                          <option>---</option>
                                          <option v-for ="data in survey" v-bind:value="data.surveyId">{{data.surveyName}}</option>
                                       </select>
                                       <em class="icon-select-arrow">select-arrow</em>
                                    </div>
                                 </div>
                                 <label class="checkbox-block">
                                 <input type="checkbox" :id="'check_' + index" name="foo" class="refcheckbox"/>
                                 <span class="checkmark">&nbsp;</span> </label>
                              </div>
                              <div class="btn" :id="'btn' + index" ref="refinsert_button" >
                                 <button class="insert-btn btn-login" :id="'clickme' + index"  @click="toggle(index);hide(index)" ref="insertbutton" >Insert program</button>
                              </div>
                              <div class="btn active-program" :id="'button' + index" style="display:none" ref="refbutton">
                                 <button class="insert-btn" :id="'cancel_element_' + index" @click="cancelbtn(index)" >Cancel</button>
                                 <button class="insert-btn"  @click="createPost(index)">Save</button>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="feedback-block">
                     <h3 id="one">Assignments containing DT programs</h3>
                     <div id="assignment-block">
                        <div v-for="(data,index) in mapped_assignments">
                           <div class="feedback-section">
                              <div class="feedback-wrapper dt-program">
                                 <em class="icon-feedback">feedback icon</em>
                                 <div class="feedback">
                                    <strong>{{data.name}}</strong>
                                    <div class="status">
                                       <p>
                                          <span class="status-color">DT program used:</span>&nbsp;<span>{{data.survey_name}}</span>
                                       </p>
                                       <p>
                                          <!--span class="status-color">Status:</span-->
                                          <span :id="'status' + index" class="emptyassignment_status"  style="display:none"></span>
                                          <span :id="'pipeone' + index" style="display:none">&nbsp;&nbsp;| &nbsp;&nbsp;</span>
                                          <span :id="'date' + index" class="emptyassignment_date"   style="display:none">{{data.due_date}}</span>
                                          <span :id="'pipetwo' + index" style="display:none"> &nbsp;&nbsp;| &nbsp;&nbsp;</span>
                                          <span class="emptyassignment_score" :id="'score' + index"  style="display:none">{{data.points}}</span>
                                       </p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--Content Area End-->
      <!--Content Area End-->
      <div class="popup-wrap">
         <!-- html added  -->
         <div class="form-height" id="insert">
            <div class="insert-program" id="insert-program">
               <div class="sign-head d-flex">
                  <h3>Insert program</h3>
                  <a href="javascript:void(0);" class="btn-close" id="close-popup"><i class="icon-close">&nbsp;</i></a>
               </div>
               <div class="insert-content">
                  <div class="select-wrapper">
                     <label>Choose an active DT program to insert into all the assignments listed below</label>
                     <div class="select-style" >
                        <select id="feedback_common"  ref="ref_feedback"  v-model ="selected" @change="surveyToken_Generation()">
                           <option value="0">---</option>
                           <option v-for="data in survey" v-bind:value="data.surveyId">{{data.surveyName}}</option>
                        </select>
                        <em class="icon-insert-arrow">insert-arrow</em>
                     </div>
                  </div>
               </div>
               <div class=" custom-scroll mCustomScrollbar">
                  <div class="insert-content">
                     <h3 id="selected_element">Selected assignments</h3>
                     <div id="popup">
                     </div>
                  </div>
               </div>
               <div class="sign-head footer">
                  <div class="d-flex">
                     <a id="cancel_button" href="#" class="btn-close cancel">Cancel</a>
                     <button class="insert-btn" id="save-button" @click="saveCommon()">Save</button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</template>
<script>
   import '../assets/css/global.css' 
   import '../assets/css/responsive.css'  
   import '../assets/css/style.css'
   import '../assets/js/jquery-3.3.1.js'
   import  '../assets/js/jquery.mCustomScrollbar.concat.min' 
   import '../assets/js/site.js'  
   import axios from 'axios'
   
   var checkedcheckboxLength ;
   var id; 
   
    export default{
        data(){
            return{          
               course:[],
               assignment:[],
               surveyname:[],
               name:[],
               survey:[],
               selected: '',
               response:'',
               mapped_assignments:[],
               survey_name:'',
               assignment_id:[],
               mapped_assignment_id:[],
               feedback:'',
               courseId: '',
               date_Time:''
            }            
            },
   
        mounted: async function (){  
         this.courseId = this.$route.query.courseId;           
         this.courseAssignments();
         this.surveyApi() ; 
         this.getMappedAssignments(this.courseId);
        },
   
       updated:function(){
       this.assignmentListing();
        for(var i=0;i<this.assignment.length;i++){
   
          var status_type = "";
   
          var status = false;
          var date = false;
          var score = false;
   
          if((status_type != null)&&(status_type != "")&&(status_type != " ")) {
            status = true;
          }
   
          if((this.assignment[i].date != null)&&(this.assignment[i].date != "")&&(this.assignment[i].date !=" ")){
            if(document.getElementById("date_"+i)){
             document.getElementById("date_"+i).style.display='';
            }
            date = true;
          }
   
          if((this.assignment[i].points_possible != null)&&(this.assignment[i].points_possible != "")&&(this.assignment[i].points_possible !=" ")){
            if(document.getElementById("score_"+i)){
              document.getElementById("score_"+i).style.display='';
              }
              score = true;
            }
   
            if((status==true)&&(date==true)) {
              if(document.getElementById("pipeone_"+i)){
               document.getElementById("pipeone_"+i).style.display='';
               
              }
            }
   
            if((date==true)&&(score==true)) {
              if(document.getElementById("pipetwo_"+i)){
               document.getElementById("pipetwo_"+i).style.display='';
              }
            }
   
            if((status==true)&&(score==true)) {
              if(document.getElementById("pipeone_"+i)){
               document.getElementById("pipeone_"+i).style.display='';
              }
            }
   
        }
   
        for(var i=0;i<this.mapped_assignments.length;i++){
   
          var status_type1 = "";
   
          var status1 = false;
          var date1 = false;
          var score1= false;
   
          if((status_type1 != null)&&(status_type1 != "")&&(status_type1 != " ")) {
            status1 = true;
          }
   
          if((this.mapped_assignments[i].due_date != null)&&(this.mapped_assignments[i].due_date != "")&&(this.mapped_assignments[i].due_date !=" ")){
            if(document.getElementById("date"+i)){
             document.getElementById("date"+i).style.display='';
            }
            date1 = true;
          }
   
          if((this.mapped_assignments[i].points != null)&&(this.mapped_assignments[i].points!= "")&&(this.mapped_assignments[i].points !=" ")){
            if(document.getElementById("score"+i)){
              document.getElementById("score"+i).style.display='';
              }
              score1 = true;
            }
   
            if((status1==true)&&(date1==true)) {
              if(document.getElementById("pipeone"+i)){
               document.getElementById("pipeone"+i).style.display='';            
              }
            }
   
            if((date1==true)&&(score1==true)) {
              if(document.getElementById("pipetwo"+i)){
               document.getElementById("pipetwo"+i).style.display='';                              
              }
            }
   
            if((status1==true)&&(score1==true)) {
              if(document.getElementById("pipeone"+i)){
               document.getElementById("pipeone"+i).style.display='';             
              }
            }
   
        }             
        },
   
        //Passing course_id to fetch assignments
       methods:{ 
        courseAssignments(){ 
        var token = '7~r2gOQpURhTIbvuAn2zhHeYBMphxOu6jBxRQDPMTIK7WzYSCH0DWDjVz4v6dPmCv2';       
          axios.get("https://cors-anywhere.herokuapp.com/https://canvas.instructure.com/api/v1/courses/"+this.courseId+"/assignments", {              
             headers: {
                    'Authorization': 'Bearer ' +  token             
                     }              
              }).then((response) => {console.log(response);
                for(var i=0;i<response.data.length;i++){
                var j=0;
                 if(response.data[i].submission_types[j] =='external_tool'){
                  var dateFormat =response.data[i].due_at;
                 if(dateFormat!=null){  
                  var date=new Date(dateFormat);
                  var month = date.toLocaleString('en-us', { month: 'short' });
                  var mdate = date.getDate();
                  var year  = date.getFullYear();
                  var hours = date.getHours();
                  var minutes = date.getMinutes();
                  var ampm = hours >= 12 ? 'pm' : 'am';
                  hours = hours % 12;
                  hours = hours ? hours : 12; // the hour '0' should be '12'
                  minutes = minutes < 10 ? '0'+minutes : minutes;
                  this.date_Time = 'Due'+" "+month+" "+mdate+","+" "+year+" "+"at"+" "+hours+ ':' + minutes + ' ' + ampm;
                  response.data[i].date = this.date_Time;
                }                                  
                    this.assignment.push(response.data[i]);
                    console.log(this.assignment);                    
              }

              }                  
                 for(var item of this.assignment){
                    this.assignment_id.push(item.id);
                 }                               
          })
             .catch((e) => {
              console.error(e)
            })        
        },
   
        //GENERATE THE dt SURVEYS
        surveyApi(){
            var  token = 'eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJxYTFAZHJvcHRob3VnaHQuY29tIiwicm9sZSI6IlJPTEVfVVNFUiIsImV4cCI6MTU5MjM2OTI3NCwiaXNzIjoiRHJvcFRob3VnaHQsIEluYyJ9.9AEPrXLkDm0I3Zhq8w7u6fuL87rp1Gc4Rho8_b47TwokbO_GRxSJMTHnwXenPmmH5dNAdAi2iUoAjGLKGllF_A'  
             axios.get("https://demo.dropthought.com/dtapp/api/surveys", {              
             headers: {
                    'Authorization': 'Bearer ' +  token             
                     }              
              }).then((response) => { 
                this.surveyname.push(response.data);
                JSON.parse(JSON.stringify(this.surveyname));
               for(var i=0;i<this.surveyname.length;i++){
                   this.name.push(this.surveyname[i].result);
               }
               for(var item in this.name[0]){
                   this.survey.push({'surveyName': this.name[0][item].surveyName, 'surveyId' :this.name[0][item].surveyId});               
               }              
          })
          .catch((e) => {
              console.error(e)
            })                     
        },
   
        //Generate the survey-token
        surveyToken_Generation(){
           var token = 'eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJxYTFAZHJvcHRob3VnaHQuY29tIiwicm9sZSI6IlJPTEVfVVNFUiIsImV4cCI6MTU5MjM2OTI3NCwiaXNzIjoiRHJvcFRob3VnaHQsIEluYyJ9.9AEPrXLkDm0I3Zhq8w7u6fuL87rp1Gc4Rho8_b47TwokbO_GRxSJMTHnwXenPmmH5dNAdAi2iUoAjGLKGllF_A'  
           var surveyid = this.selected;
            axios.get("https://demo.dropthought.com/dtapp/api/dtsurvey/generateToken/surveyuuid/"+surveyid+"?cc=DT",{
                headers: {
                    'Authorization': 'Bearer ' +  token             
                     }  
            }).then((response) => { 
                this.response = response.data.result[0].token;
            })
            .catch((e) => {
              console.error(e)
            })    
        },
          
           
    // Post data for assignment mapping        
            createPost(index) {                      
               var feedback = document.getElementById("feedback_"+index);    
               this.survey_name = feedback.options[feedback.selectedIndex].text;    
                 var url ="http://dt-edu-dev-janus.airislabs.com:8080/map";
                 var requestBody = {};
                     requestBody._id= JSON.parse(this.$refs.refId[index].innerText);
                     requestBody.course_id = this.courseId;
                     requestBody.name= this.$refs.refTitle[index].innerText;
                     requestBody.status= this.$refs.refStatus[index].innerText;
                     requestBody.points= this.$refs.refScore[index].innerText;
                     requestBody.due_date= this.$refs.refDate[index].innerText ;
                     requestBody.survey_name= this.survey_name;
                     requestBody.survey_id= this.selected;
                     requestBody.survey_token= this.response;
       
                   var request_Body = Object.keys(requestBody).map((key) => {  
                   return encodeURIComponent(key) + '=' + encodeURIComponent(requestBody[key]);
                   }).join('&'); 
     
                  var config = {
                      headers: {                 
                      'Content-Type': 'application/x-www-form-urlencoded'
                      }
                  }
                  axios.post(url,request_Body,config)
                      .then((response) => {
                     var elmid = document.querySelector("[data-elmid='"+ response.data._id +"']");
                     var assignmentdiv = elmid.closest("[data-assignmentdiv]");
                     assignmentdiv.remove();
                     var count= document.querySelectorAll(".feedback-wrapper.d-flex").length;
                     if(count==0){
                      document.getElementById("no_content").innerHTML = "No assignments available for mapping";
                     }
                      this.getMappedAssignments(this.courseId);
                      })
                      .catch((err) => {
                          console.error(err)
                      })                  
                },
   
   //Getting the assignments mapped with survey 
              getMappedAssignments(courseId){
              axios.get("http://dt-edu-dev-janus.airislabs.com:8080/map/course/"+courseId,                
               ).then((response) => { 
               console.log(response);
              document.getElementById('assignment-block').innerHTML='';
                for (var item in response.data) {
                   this.mapped_assignments.push(response.data[item]);
                  }                                             
             })
             .catch((e) => {
              console.error(e)
             })             
            },
   
   //List the assignments that is not mapped with a survey
          assignmentListing(){
              for(var i=0;i< this.assignment.length;i++){
                var flag=0;
                  for(var j=0;j<this.mapped_assignments.length;j++){
                       if(this.assignment[i].id == this.mapped_assignments[j]._id){
                           flag=1;
                           break;
                       }
                  }
                       if(flag==1){                       
                          if(document.getElementById("firstsection" + i)){
                           document.getElementById("firstsection" + i).remove();
                           }
                      }      
              } 
                   var count= document.querySelectorAll(".feedback-wrapper.d-flex").length;
                   if(count==0){
                    document.getElementById("no_content").innerHTML = "No assignments available";
                   }
                   else{
                   document.getElementById("no_content").innerHTML = " ";
                   }
   
              checkedcheckboxLength = this.assignment.length;         
               },
                
             saveCommon(){     
               for(var i=0;i<checkedcheckboxLength;i++){
                var input = document.getElementById('check_'+i);
                 if (input && input.type == "checkbox" && input.checked == true)  { 
               
                  var feedback_container = document.getElementById("feedback_common");
                  this.feedback = feedback_container.options[feedback_container.selectedIndex].text;
                  var id = document.getElementById("id_"+i).innerText;
                  var title = document.getElementById("title_"+i).innerText;
                  var status =document.getElementById("status_"+i).innerText;
                  var date = document.getElementById('date_'+i).innerText;
                  var score = document.getElementById('score_'+i).innerText;
                   
                  var url ="http://dt-edu-dev-janus.airislabs.com:8080/map";
                  var requestBody = {};
                     requestBody._id= JSON.parse(id);
                     requestBody.course_id = this.courseId;
                     requestBody.name= title,
                     requestBody.status= status,
                     requestBody.points= score,
                     requestBody.due_date= date,
                     requestBody.survey_name= this.feedback;
                     requestBody.survey_id= this.selected;
                     requestBody.survey_token= this.response;
     
                   var request_Body = Object.keys(requestBody).map((key) => {  
                   return encodeURIComponent(key) + '=' + encodeURIComponent(requestBody[key]);
                   }).join('&'); 
     
                  var config = {
                      headers: {                 
                      'Content-Type': 'application/x-www-form-urlencoded'
                      }
                  }
                  axios.post(url,request_Body,config)
                      .then((response) => {    
                     var elmid = document.querySelector("[data-elmid='"+ response.data._id +"']");
                     var assignmentdiv = elmid.closest("[data-assignmentdiv]");
                     assignmentdiv.remove();
                     var count= document.querySelectorAll(".feedback-wrapper.d-flex").length;
                     if(count==0){
                      document.getElementById("no_content").innerHTML = "No assignments available for mapping";
                     }
                     this.getMappedAssignments(this.courseId);
                      })
                      .catch((err) => {
                          console.error(err)
                      }) 
                      }                   
                      document.getElementById('clickonme').style.display='none';
                      document.getElementById('common_checkbox').checked = false; 
                 } 
                },
               
         
            toggle(index){
              var dropdown = this.$refs.refdropdown[index];
              var insert_btn = this.$refs.refbutton[index];
              this.$refs.insertbutton[index]
              dropdown.style.display = (dropdown.style.display == "none") ? "block" : "none";
              insert_btn.style.display = ( insert_btn.style.display == "none") ? "block" : "none";
           },
           
           hide(index){
             this.$refs.refinsert_button[index].style.display = "none";
            },
   
           cancelbtn(index){
              this.$refs.refdropdown[index].style.display = "none";
              this.$refs.refbutton[index].style.display = "none";
              this.$refs.refinsert_button[index].style.display = "block";
             },
   
          commonCheckbox() {
            var checkboxes = document.querySelectorAll('.refcheckbox');   
              if((document.getElementById("common_checkbox").checked)&&(checkboxes.length > 0)) {
               document.getElementById('clickonme').style.display='block';
              for(var i=0; i<checkedcheckboxLength ; i++) {
                var input = document.getElementById('check_'+i);
                if(input && input.type == "checkbox") {
                     var title = this.$refs.refTitle[i].innerText; 
                     id =  this.$refs.refId[i].innerText;
                     var str1 = "<div class='feedback-wrapper' id='assignment-feedback"+i+"' >"+
                                "<em class='icon-feedback'>feedback icon</em>"+
                                "<div class='feedback' data-feedbackdiv>"+"<strong :data-id="+id+">"+title+"</strong>"+"</div>"+"</div>";      
                    var newelement = document.getElementById('selected_element');
                    newelement.insertAdjacentHTML('afterend', str1);   
                    input.checked = true;
                    document.getElementById('clickme'+i).disabled= true;
                    document.getElementById('clickme'+i).style.background ="grey";
                }
              }
            } else {
                document.getElementById('clickonme').style.display='none';
                for(var i=0; i<checkedcheckboxLength ; i++) {
                  var input = document.getElementById('check_'+i);
                if(input && input.type == "checkbox") {       
                  input.checked = false;
                  document.getElementById('assignment-feedback'+i).remove();
                  document.getElementById('clickme'+i).disabled= false;
                  document.getElementById('clickme'+i).style.background ="#008EE1";
                }
              }      
            }           
        }
            
  } 
}
</script>